In [1]:
import pandas as pd

print(pd.__version__)

2.1.4

In [15]:


df = pd.DataFrame('jacel/anaconda3/Lib/site-packages/bokeh/sampledata/titanic.py')
df.columns = ['Pclass', 'Survival status', 'full Name', 'Sex  ', '  Age', 
              'Sib SP', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
df_backup = df.copy(deep=True)

df.head()

ValueError: DataFrame constructor not properly called!

In [10]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.head()

NameError: name 'df' is not defined

In [ ]:
df = df_backup.copy(deep=True)

df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')
df.head()