In [1]:
import pandas as pd

print(pd.__version__)

2.1.4

In [2]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'],
        'jenis_kelamin': ['L', 'L', 'P', 'L'],
        'usia': [23, 21, 22, 25]}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [ ]:
df.to.csv('data_peserta.csv')

In [ ]:
df = pd.read_csv('data_peserta.csv')
# df = pd.read_csv('data_peserta.csv', index_col=0)

df

In [ ]:
df.to_csv('data_peserta.csv', index=False)
df = pd.read_csv('data_peserta.csv')
df