In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)
df

   A  B  C  D  E
0  3  5  6  9  2
1  3  6  8  8  3
2  6  9  7  5  3
3  3  2  3  1  7
4  6  7  6  7  6

In [3]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [4]:
df.add_prefix('Kolom_')

   Kolom_A  Kolom_B  Kolom_C  Kolom_D  Kolom_E
0        3        5        6        9        2
1        3        6        8        8        3
2        6        9        7        5        3
3        3        2        3        1        7
4        6        7        6        7        6

In [5]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        3        5        6        9        2
1        3        6        8        8        3
2        6        9        7        5        3
3        3        2        3        1        7
4        6        7        6        7        6