In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  2  1  6  4  7
1  3  2  8  3  6
2  8  4  6  8  8
3  2  4  2  7  7
4  5  8  3  5  8
5  2  6  5  5  4
6  2  8  2  2  4
7  8  7  2  1  3
8  6  9  1  5  3
9  5  4  5  4  3

In [3]:
(df['A'] < 5).sum()

5

In [4]:
(df['A'] < 5).mean()

0.5